/* стили элементов, блоков, которые повторяются на разных страницах */
html,body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #120B2A;
  cursor: url(/images/pointer1.png), auto;
  font-family: 'SF-Distantital', 'sans-serif';
  font-weight: 400;
}

.hero {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    overflow: hidden;
}

.enemy {
  position: absolute;
  left: 95%;
  transform: rotate(270deg);
  z-index: 99;
}

@keyframes play {
  100% {
    background-position: -345px;
  }
}



.game-field {
  box-shadow: 0px 0px 25px 10px;
  width: 1500px;
  height: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
}

#player {
  width: 195px;
  height: 110px;
  background: url(/images/model.gif);
  position: absolute;
  top: 40%;
  transform: rotate(90deg);
  z-index: 100;
}

.game-field__heart {
  position: absolute;
  left: 90%;
  top: 1%;
  bacground: rgba(255, 0, 0, 0.8);
  display: block;
  border-radius: 50%;
  cursor: pointer;
  animation: pulse 2s infinite;
}

.game-field__heart1 {
  position: absolute;
  left: 90%;
  top: 1%;
}

.game-field__heart2 {
  position: absolute;
  left: 93%;
  top: 1%;
}

.game-field__heart3 {
  position: absolute;
  left: 96%;
  top: 1%;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
    50% {
      -moz-box-shadow: 0px 0px 5px 5px rgba(255, 0, 0, 0.6);;
      box-shadow: 0px 0px 5px 5px rgba(255, 0, 0, 0.6);;
      transform: scale(1,1.1);
  }
}



.ammo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  left: 1%;
  top: 1%;
  width: 70px;
  height: 100px;
}

.modal__ammo_strong_10 {
  display: inline;
  color: #FFA91E;
  border-bottom: 2px solid #FFA91E;
}
.modal__ammo {
  font-family: 'SF-Distant', 'sans-serif';
  color: #fff;
  border: 1px solid #fff;
  height: 120px;
  width: 200px;
  font-size: 14px;
  position: relative;
  left: 40%;
  top: 1%;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  padding: 10px 20px;
  user-select:none;
  box-shadow: 0px 0px 10px 3px #f8f8f8, 0px 0px 10px 3px #f8f8,0px 0px 10px 3px #f82;
}
.modal-ammo__btn {
  position: absolute;
  top: 9%;
  left: 85%;
  background: transparent;
  border: none;
}

.ammo__amount {
  width: 16px;
  height: 16px;
  user-select: none;
  pointer-events: none;
}

.bullet {
  width: 15px;
  height: 5px;
  background: #fefbfe;
  position: absolute;
  border-radius: 2px 7px 7px 2px;
  box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 15px #e32525, 0 0 25px #db0d0d;
}



.welcome-field {
  width: 1152px;
  height: 603px;
  background: url(/images/welcomeimg.jpg);
  background-repeat: no-repeat;
  opacity: 0.8;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* display: none; */
}

.welcome-field__title {
  display: grid;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 10px;
  font-size: 35px;
}

.welcome-field__button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: none;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 40px;
  right: 50px;
  outline: none;
  z-index: 1000;
  padding: 20px 0;
  margin: 30px auto 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background: rgb(167 72 72 / 88%);
  color: #e6a833;
  box-shadow: 0 0 0 3px rgba(0, 0, 0,.5);
  animation: play_down 1s infinite;
  transition: all 0.5s;
  &:hover {
    color: #e7e35a;
    background: rgb(213 35 68);
  }
}

@keyframes  play_top {
	0% { box-shadow: 0 0 rgba(0,163,182,.6); }
	to { box-shadow: 0 0 0 20px rgba(0,163,182,0); }   
}

@keyframes  play_down {
	0% { box-shadow: 0 0 rgba(55,55,55,.6); }
	to { box-shadow: 0 0 0 20px rgba(55,55,55,0); }
}


.welcome-field__aboutgame {
  padding: 0 20px;
}


.welcome-field__descr {
  text-indent: 50px;
  font-family: 'SF-Distantital', 'sans-serif';
  font-weight: bold;
  line-height: 1.7;
  font-size: 25px;
  &::first-letter {
    font-size: 35px;
    font-family: 'SF-Distant', 'sans-serif';
  }
}



.messageAmmountOff {
  font-family: 'SF-Distant';
  color: #fff;
  font-size: 12px;
  padding: 4px;
  text-align: center;
  user-select:none;
  box-shadow: 0px 0px 10px 3px #f8f8f8, 0px 0px 10px 3px #f8f8,0px 0px 10px 3px #f82;
  border-radius: 12px;
  position: relative;
  height: 90px;
  top: 5%;
  left: 3%;
}

.messageAmmountBtn {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 6%;
  left: 75%;
  cursor: pointer;
}

.gameTimer {
  display: grid;
  align-items: center;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 83%;
  left: 1%;
  color: #fff;
  border-radius: 15px;
  text-align: center;
  font-family: 'SF-Distant', 'sans-serif';
  box-shadow: 0px 0px 10px 3px #f8f8f8, 0px 0px 10px 3px #f8f8,0px 0px 10px 3px #f82;
  user-select: none;
}